{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Codigo | publiCambio {% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> PubliCambio</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-map-marker"> Mapa</span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-heart"> Suscribir</span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-envelope"> Contacto</span></a></li>
      <li>|</li>
      <li><a href="{{ url_for('update') }}"><span class="glyphicon glyphicon-th-large"> Update</span></a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for mensaje in get_flashed_messages() %}
    <div class='alert alert-warning'>
        <button type='button' clas='close' data-dismiss='alert'>&times;</button>
        {{ mensaje }}
    </div>
    {% endfor %}
    <div class="row">
      <div class="jumbotron text-center">
      {% block jumbotron %}
        <h1>Hola proyecto publiCambio</h1>
      {% endblock %}
      </div>
    </div>
</div>
{% endblock %}
