{% extends "base.html" %}

{% block title %} Codigo | publiCambio {% endblock %}

{% block jumbotron %}
<h3>{{ fecha.strftime('Actualizacion: %d, %b %Y - %H:%M') }}</h3>
{{ wtf.quick_form(forma) }}
{% endblock %}

{% block extra %}
<div class="row">
  <div class='col-xs-6'>
      <h3> Actualizaciones de hoy: </h3>
  </div>
  <div class='col-xs-6'>
      <h4>{{ fecha.strftime('%d, %b %Y') }} </h4>
  </div>
</div>
<div class='row'>
    <div class=col-xs-3>
        <p><b>Timestamp</b></p>
    </div>
    <div class=col-xs-3>
        <p><b>Compra</b></p>
    </div>
    <div class=col-xs-3>
        <p><b>Venta</b></p>
    </div>
    <div class=col-xs-3>
        <p><b>Foto</b></p>
    </div>
</div>
{% for captura in capturasHoy%}
<div class="row">
<div class="col-xs-6">
    {{ captura.timestamp.strftime('%H:%M:%S') }}
</div>
<div class="col-xs-3">
    {{ captura.compra }}
</div>
<div class='col-xs-3'>
    {{captura.venta}}
</div>
</div>

{% endfor %}
{%endblock%}
